* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --login-bg: #dce2e4;
    --fond-right: #ffffff;
    --button-bg: #6d757957;
    --image-bg: #216eadfa;
    --imagen-hov: rgb(26, 67, 134);
    --credit: #080a0f;
}

body {
    height: 895px;
    width: 1024px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--login-bg);
    margin: auto;
}


/*Contenedor login*/

.login-container {
    display: flex;
    height: 700px;
    width: 900px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #6d757957;
    border-radius: 8px;
    background-color: var(--fond-right);
    box-shadow: 5px 5px 10px black;
}


/*casillas del form para loguear*/

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 15px;
}

.form h2 {
    font-size: 1.5rem;
    margin: 40px;
    text-align: center;
}

.box-login {
    padding: 12px;
    width: 65%;
    margin: 25px;
    border: 1px solid black;
    outline: none;
    border-radius: 6px;
}

#submit {
    padding: 10px 20px;
    width: 20%;
    margin-top: 35px;
    color: #dce2e4;
    font-weight: bold;
    background-color: var(--image-bg);
    border: none;
    outline: none;
    border-radius: 3px;
}

#submit:hover {
    cursor: pointer;
    background-color: var(--imagen-hov);
}


/* side derecho*/

.side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--imagen-hov);
    border-radius: 3px;
}

.side img {
    width: 500px;
    height: 700px;
}